@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700'); //Montserrat
@import url('https://fonts.googleapis.com/css?family=Cinzel'); //Cinzel

$primary:'Montserrat';
$secondary:'Cinzel';
$thin:100;
$lite:300;
$regular:400;
$semi:600;
$bold:700;

$small:.7em;
$title:1.2em;
$big:1.8em;

body{
	font-family:$primary;
	font-weight:$lite;
	-webkit-font-smoothing:antialiased;
}
span{
	display:block;
}

h1,h2,h3,h4,h5,h6,p{
	margin-top:0;
	margin-bottom:15px;
}

h1{
	font-size:3em;
	letter-spacing:2px;
	text-transform:uppercase;
	span{
		display:block;
	}
}

h2{
	font-size:2em;
	font-weight:$semi;
	text-transform:uppercase;
}

h3{
	font-size:1.5em;
	font-weight:$regular;
	text-transform:uppercase;
	margin-bottom:10px;
}

p{
	line-height:1.6em;
	margin-bottom:12px;
}

.page-title{
	font-size:3em;
	color:$color-white;
	text-transform:uppercase;
	font-weight:$bold;
}

.entry-title{
	font-size:1em;
	margin-left:30px;
}

.content{
	p{
		font-size:1.2em;
	}
}

.accent-color-brand{
	color:$color-brand;
}