//colors
$color-white:#fff;
$color-white-fade:rgba(255,255,255,.6);
$color-black:#000;
$color-gray:#737373;
$color-brand:#bfcf67;
$color-brand-fade:rgba(154,170,63,.8);

$color-bg-blue:#0E141D;
$color-bg-gray:#F1F1F1;

//Social Hex Colors
$color-insta:#cd486b;
$color-twit: #1097EC;
$color-fb:#3b5998;
$color-youtube:#e52d27;
$color-link:#0077B5;

//responsive settings
$desktop-short: (max-height 770px);
$desktop-large: (min-width 1300px);
$desktop: (min-width 901px);
$tablet: (max-width 900px);
$tablet-landscape: (max-width 1024px);
$tablet-down: (max-width 900px);
$mobile: (max-width 600px);
$mobile-small: (max-width 350px);

//grid
$desktop-large-inner:1200px;
$desktop-inner:90vw;
$tablet-inner:600px;
$mobile-inner:300px;