.about-content{
	padding:100px 0;
	.col-4{
		padding-right:25px;
	}
}

.slogan-section{
	position:relative;
	height:500px;
	display:flex;
	justify-content:center;
	align-items:center;
	.content-container{
		z-index: 1;
		position: absolute;
		bottom: 60px;
	}
	.overlay{
		background-color:rgba(0,0,0,.3);
	}
	h3{
		max-width:600px;
		color:$color-white;
		text-align:center;
		margin:0 auto;
	}
}

.team{
	padding:100px 0;
	@include media($tablet){
		padding:50px 0;
	}
	.title{
		margin-bottom:100px;
	}
	.team-list{
		display:flex;
		flex-direction: column;
		@include striplist;
		$team-item-margin:25px;
		$team-item-margin-half:25px / 2;
		@include media($mobile){
			display:block;
		}
		li{
			position:relative;
			display: flex;
			flex-direction:row;
			// flex:1 0 23%;
			// max-width:calc((100% / 4) - #{$team-item-margin});
			margin:10px;
			@include media($desktop){
				&:hover{
					.info{
						opacity:1;
					}
				}
			}
			@include media($mobile){
				flex-direction:column;
			}
			@include media($mobile){
				flex:1;
				max-width:initial;
				&:not(:last-child){
					margin:0 0 15px 0;
				}
				&:last-child{
					margin:0;
				}
			}
			.team-image{
				flex:1;
				margin:0 auto;
				margin-right:25px;
	            height:300px;
	            display:flex;
	            justify-content:center;
	            background-size:cover;
	            background-position:center;
	            @include media($mobile){
	            	margin:0;
	            	margin-bottom:10px;
	            	background-position:top center;
	            }
			}
			.member-info{
				width:75%;
				@include media($tablet){
					width:60%;
				}
				@include media($mobile){
					width: 100%;
				}
				h4{
					margin-bottom:0;
					font-family:$secondary;
					font-size:1.2em;
				}
				.member-bio{
					font-size:1.1em;
					line-height:1.2;
					@include media($mobile){
						font-size:1em;
					}
				}
			}
		}
	}
}