.bullets{
    padding:100px 0;
    @include media($tablet){
        padding:15px 0;
    }
    .content-container{
        text-align:center;
    }
    .section-title{
        text-align: center;
        margin-bottom:50px;
        font-size:2em;
        color:$color-black;
        font-family:$primary;
        font-weight:$semi;
        letter-spacing:.1em;
        @include media($tablet){
            margin:50px 0 50px 0;
        }
        @include media($mobile){
            font-weight:$regular;
            margin: 25px 0 50px 0;
        }
    }
    ul{
        display:flex;
        @include striplist;
        @include media($tablet){
            flex-direction:column;
        }
    }
    li{
        text-align:left;
        flex:1;
        .icon-title{
            display:flex;
            align-items:center;
        }
        &:first-child{
            // min-width:250px;
            @include media($tablet){
                padding:0;
            }
        }
        &:nth-child(even){
            padding:0 15px;
            @include media($tablet){
                padding:0;
            }
        }
        &:nth-child(3){
            padding-left:15px;
            width:80vw;
            @include media($tablet){
                padding:0;
            }
        }
        @include media($tablet){
            margin-bottom:25px;
        }
    }
    .bullet-image{
        align-items:center;
        height:100px;
        margin-bottom:25px;
        display: flex;
        margin-right: 15px;
        img{
            max-width:75px;
        }
        @include media($mobile){
            margin-bottom:15px;
        }
    }
    @include media($mobile){
        margin-bottom:15px;
    }
}
.video-bullets{
    ul{
        display:flex;
        flex-flow:row wrap;
        @include striplist;
        li{
            flex:1;
            cursor:pointer;
            @include media($tablet){
                flex:1 0 50%;
            }
            @include media($mobile){
                flex:1 0 100%;
            }
            &:hover{
                img{
                    @include transform(scale(1.05));
                }
            }
        }
        figure{
            margin:0;
            height:200px;
            display:flex;
            justify-content:center;
            align-items:center;
            background-size:cover;
        }
        img{
            width:115px;
            transition:.2s;
        }
    }
}