.bullets{
    padding:50px 0;
    @include media($tablet){
        padding:15px 0;
    }
    .content-container{
        text-align:center;
    }
    .section-title{
        text-align: center;
        margin-bottom:50px;
        font-size:3em;
        color:$color-black;
        font-family:$primary;
        font-weight:$semi;
        letter-spacing:.1em;
        @include media($tablet){
            margin:50px 0 50px 0;
        }
        @include media($mobile){
            font-weight:$regular;
            margin: 25px 0 50px 0;
        }
    }
    ul{
        display:flex;
        @include striplist;
        @include media($tablet){
            flex-direction:column;
        }
    }
    .bullet-content{
        text-align:left;
        flex:1;
        .icon-title{
            display:flex;
            align-items:center;
        }
        //Bullets inside bullet items
        ul{
            flex-direction:column;
            padding:0 10px;
            color:$color-brand-dark;
            li{
                margin:5px 0;
                list-style: initial;
                font-weight:500;
            }
        }
        .copy{
            // color:$color-brand-dark;
        }
        &:first-child{
            // min-width:250px;
            @include media($tablet){
                padding:0;
            }
        }
        &:nth-child(even){
            padding:0 15px;
            @include media($tablet){
                padding:0;
            }
        }
        &:nth-child(3){
            padding-left:15px;
            width:80vw;
            @include media($tablet){
                padding:0;
            }
        }
        @include media($tablet){
            margin-bottom:25px;
        }
    }
    .bullet-image{
        align-items:center;
        height:100px;
        margin-bottom:25px;
        display: flex;
        margin-right: 15px;
        img{
            max-width:75px;
        }
        @include media($mobile){
            margin-bottom:15px;
        }
    }
    @include media($mobile){
        margin-bottom:15px;
    }
}

.video-bullets{
    ul{
        @include striplist;
        .vid-slides{
            display:flex;
            flex-flow:row wrap;
            position:relative;
            .slick-list{
                overflow:hidden;
            }
            .slick-track{
                display: flex;
            }
            li{
                cursor:pointer;
                @include media($tablet){
                    // flex:1 0 50%;
                }
                @include media($mobile){
                    // flex:1 0 100%;
                }
                &:hover{
                    img{
                        @include transform(scale(1.05));
                    }
                }
            }
        }
        figure{
            margin:0;
            height:275px;
            display:flex;
            justify-content:center;
            align-items:center;
            background-size:cover;
            background-position:center;
        }
        img{
            width:115px;
            transition:.2s;
        }
    }
}