// Single client template.
.post-type-clients{
	header{
		.container{
			padding:25px 0;
		}
	}
	article.clients{
		padding:100px 0;
		@include media($tablet){
			padding:50px 0;
		}
		.content-container{
			@include media($tablet){
				display:flex;
				flex-direction:column-reverse;
				@include media($mobile){
					width:100%;
				}
			}
			.col-6{
				margin-bottom:25px;
				&:first-child{
					margin-bottom:0;
				}
			}
		}

		.trailer{
			iframe{
				width:100%;
			}
		}
		.content{
			margin:30px 30px 30px;
		}
		.web-button,
		.press-button{
			@include media($mobile){
			text-align:center;
			}
		}
	}
}

// The category list display on client previews.
.client-categories{
	.section-title{
		color:$color-black;
	}
	section.cat{
		padding:50px 0;
		&:nth-child(even){
			background:$color-bg-gray;
		}
	}
}

// Home page small feed.
.clients-preview{
	.section-header{
		text-align:center;
		padding:75px 0;
		h2{
			margin-bottom:10px;
			color:$color-black;
			font-weight:$regular;
		}
	}
	.client-list{
		display:flex;
		flex-flow:row wrap;
		@include striplist;
		@include media($mobile){
			flex-direction:column;
		}
	}
	.client-item{
		display:block;
		position:relative;
		overflow:hidden;
		height:300px;
		@include media($desktop){
			&:hover{
				.client-image{
					filter:grayscale(0);
				}
			}
		}
		&.cols-1-3{
			flex:33.333333% 0 0;
			@include media($tablet){
				flex:1 0 50%;
			}
			@include media($mobile){
				flex:1;
			}
		}
		&.cols-2-3{
			flex:66.666666% 0 0;
			@include media($tablet){
				flex:1 0 50%;
			}
			@include media($mobile){
				flex:1;
			}
		}
		&.cols-1-4{
			flex:25% 0 0;
			@include media($tablet){
				flex:1 0 25%;
			}
			@include media($mobile){
				flex:1;
			}
		}
		&.cols-2-4{
			flex:50% 0 0;
			@include media($tablet){
				flex:1 0 50%;
			}
			@include media($mobile){
				flex:1;
			}
		}
		&.alt{
			background:$color-bg-gray;
			color:$color-black;
			transition:.2s;
			@include media($desktop){
				&:hover{
					color:$color-white;
					background:$color-brand;
					p{
						color:$color-white;
					}
				}
			}
			@include media($tablet){
				height:100px;
			}
			p{
				font-family:$secondary;
				color:$color-gray;
				margin:0;
			}
			a{
				color:$color-black;
				@include media($desktop){
					&:hover{
						color:$color-white;
					}
				}
			}
		}
		&.view-all{
			width:100%;
			max-height:80px;
			text-align: center;
		}
		a{
			color:$color-brand;
		}
		.client-image{
			margin:0;
			background-size:cover;
			background-position:center;
			transition:.4s;
			height:100%;
			width:calc(100% + 2px);
			filter:grayscale(100%);
			@include position(absolute, 50% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
			&:after{
				content:'';
				display:block;
				background:rgba(0,0,0,.5);
				@include size(100%);
				@include position(absolute, 50% null null 50%);
				@include transform(translateY(-50%) translateX(-50%));
			}
		}
		.info{
			padding:15px;
		}
		h3{
			margin:0;
			line-height:1;
		}
	}
	.info{
		width:100%;
		@include position(absolute, null null 0 0);	
	}
	.categories{
		@include striplist;
		li{
			display:inline-block;
			font-family:$secondary;
			color:$color-white;
			font-weight:$regular;
			font-size:.7em;
			text-transform:uppercase;
			&:not(:last-child){
				margin-right:5px;
			}
		}
	}
}

// The sections on the clients page
.client-types{
	.type{
		padding:100px 0;
		@include media($tablet){
			padding:50px 0;
		}
		&:nth-child(even){
			background-color:$color-bg-gray;
			.client{
				.info{
					@include media($desktop){
						&:hover{
							color:$color-black;
							background:$color-white;
							p{
								color:$color-white;
							}
						}
					}
				}
			}
		}
	}
	.section-title{
		margin-bottom:50px;
		@include media($tablet){
			margin-bottom:25px;
		}
	}
	.more-clients{
		display:inline-block;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:$regular;
		color:$color-black;
		font-size:.9em;
		&:hover{
			color:$color-brand;
		}
	}
	.arrow{
		display:inline;
		margin-left:5px;
	}
}

// Displayed on multiple templates.
// Used to create the client grid
.client-feed{
	display:flex;
	flex-wrap:wrap;
	padding:0;
	margin:0 0 25px 0;
	list-style:none;
	li{
		position:relative;
		overflow:hidden;
		@include media($tablet){
			overflow-y:visible;
		}
		&:not(:last-child){
			@include media($tablet){
				margin-bottom:15px;
			}
		}
		&:hover{
			.info{
				opacity:1;
			}
		}
		a{
			text-decoration:none;
		}
	}
	.info{
		opacity:0;
		display:flex;
		justify-content:center;
		flex-direction:column;
		align-items:center;
		padding:25px;
		z-index:2;
		position:absolute;
		background-color:$color-bg-gray;
		color:$color-black;
		transition:.2s;
		@include size(100%);
		@include position(absolute, 0 null null 0);
		@include media($tablet){
			opacity:1;
			background:none;
			align-items:flex-start;
			@include size(auto);
			@include position(relative, initial null null initial);
		}
		h5{
			font-size:1.2em;
			text-transform:uppercase;
			margin-bottom:0;
			font-weight:$regular;
		}
		.more{
			display:block;
			text-transform:uppercase;
			text-decoration:none;
			font-weight:$regular;
			font-size:1em;
			&:hover{
				color:$color-black;
			}
		}
	}
	.client-bg{
		margin:0;
		background-position:center;
		background-size:cover;
		z-index:1;
		@include size(100%);
		@include position(relative, 50% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
		@include media($tablet){
			@include position(relative, initial null null initial);
			@include transform(none);
		}
		.coming-soon{
			@include position(absolute, 50% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
			width: 100%;
			color:$color-black;
			text-align: center;
			.cs-title{
				font-size:.7em;
			}
		}
	}
	.image-orientation-portrait{
		flex:1 0 25%;
		max-width:25%;
		@include media($tablet){
			flex:1 0 50%;
			max-width:50%;
		}
		@include media($mobile){
			flex:1 0 100%;
			max-width:100%;
		}
		a{
			display:block;
			@include media($desktop){
				height:calc((#{$desktop-inner} / 4) * 1.5);
			}
			@include media($desktop-large){
				height:450px;
			}
			@include media($tablet){
				height:auto;
			}
		}
		figure{
			@include media($tablet){
				height:calc((#{$tablet-inner} / 2) * 1.5);
			}
		}
	}
	.image-orientation-landscape{
		flex:1 0 33.3333%;
		max-width:33.3333%;
		@include media($tablet){
			flex:1 0 50%;
			max-width:50%;
		}
		@include media($mobile){
			flex:1 0 100%;
			max-width:100%;
		}
		a{
			display:block;
			@include media($desktop){
				height:calc((#{$desktop-inner} / 4));
			}
			@include media($desktop-large){
				height:300px;
			}
			@include media($tablet){
				height:auto;
			}
		}
		figure{
			@include media($tablet){
				height:225px;
			}
		}
	}
}

// Taxonomy page
.client-type-full-list{
	padding:100px 0;
	@include media($tablet){
		padding:50px 0;
	}
}