.hero{
	display:flex;
	align-items:center;
	position:relative;
	text-align:center;
	height:500px;
	@include media($tablet){
		height:400px;
	}
}

.hero-tall{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	min-height:700px;
	@include media($mobile){
		min-height:650px;
		height:650px;
	}
	.title-wrap{
		z-index:4;
		padding-top:calc(100vh - 500px);
		width:650px !important;
		@include media($desktop-short){
			padding-top:calc(100vh - 650px);
		}
		@include media($mobile){
			width:$mobile-inner;
			padding-top:0;
			@include position(absolute, 45% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
		}
	}
	.title{
		font-size:2.8em;
		text-align:center;
		text-transform:uppercase;
		font-family:$secondary;
		line-height:1;
		color:$color-white;
		letter-spacing:2px;
		width:650px;
		margin:0;
		@include media($mobile){
			font-size:2.2em;
		}
	}
	.title-accent{
		width:650px;
		font-family:$primary;
		font-size:5em;
		color:$color-white;
		@include media($mobile){
			width:auto;
			text-align:center;
			font-size:2.2em;
		}
	}
	.video-background{
		overflow:hidden;
		margin:0;
		@include size(100%);
		@include position(absolute, 0 null null 0);
		video{
			display:none;
			height:140vh;
			width:140vw;
			min-width:100%;
			min-height:700px;
			@include position(absolute, 50% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
			@include media($desktop){
				display:block;
			}
		}
		.bg{
			opacity:.7;
			@include size(100%);
			@include position(absolute, 0 null null 0);
		}
	}
	.tree{
		height:400px;
		width:100%;
		margin:0;
		background-size:cover;
		background-position:top center;
		z-index:3;
		max-width:1700px;
		@include position(absolute, null null 0 50%);
		@include transform(translateX(-50%));
		@include media($tablet){
			height:350px;
		}
		@include media($mobile){
			height:300px;
		}
	}
	.mobile-bg{
		margin:0;
		background-size:cover;
		background-position:center;
		@include size(100%);
		@include position(absolute, 50% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
		@include media($desktop){
			display:none;
		}
	}
}