.service-sections{
	padding:100px 0;
	@include media($tablet){
		padding:0;
	}
	.content-container{
		display:flex;
		flex-flow:row wrap;
		@include media($tablet){
			display:block;
		}
	}
	.service-column{
		flex:1;
		max-width:50%;
		$service-padding:12.5px 12.5px 0 0;
		&:nth-child(odd){
			padding:$service-padding;
			@include media($tablet){
				padding-right:0;
			}
		}
		&:nth-chil d(even){
			padding: 0 12.5px;
			@include media($tablet){
				padding-left:0;
			}
		}
	}
	.service{
		flex:1;
		margin:50px 12.5px 0px;
		max-width:31%;
		@include media($mobile){
			min-width:30vw;
		}
		@include media($tablet){
			min-width:100%;
		}
		h2{
			margin-bottom:25px;
			@include media($mobile){
				font-size:1.2em;
			}
			img{
				height:1.2em;
				margin-right:5px;
			}
		}
		p{
			// margin-top:25px;
			letter-spacing:0px;
			@include media($mobile){
				font-size:1em;
			}
		}
	}
	.sub-service-list{
		@include striplist;
		li{
			@include media($mobile){
				font-size:.8em;
			}
			span{
				margin-bottom:25px;
				font-weight:$bold;
			}
		}
	}
}