.service-sections{
	padding:100px 0;
	@include media($tablet){
		padding:50px 0;
	}
	.content-container{
		display:flex;
		flex-flow:row wrap;
		@include media($tablet){
			display:block;
		}
	}
	// .service-column{
	// 	flex:1;
	// 	max-width:50%;
	// 	$service-padding:12.5px 12.5px 0 0;
	// 	&:nth-child(odd){
	// 		padding:$service-padding;
	// 		@include media($tablet){
	// 			padding-right:0;
	// 		}
	// 	}
	// 	&:nth-child(even){
	// 		padding: 0 12.5px;
	// 		@include media($tablet){
	// 			padding-left:0;
	// 		}
	// 	}
	// }
	.service{
		flex:1;
		margin:50px 12.5px 0px;
		flex-basis: 31%;
		max-width:31%;
		h2{
			margin-bottom:25px;
			img{
				height:1.2em;
				margin-right:5px;
			}
		}
		p{
			letter-spacing:0px;
		}
	}
	.sub-service-list{
		@include striplist;
		li{
			
			span{
				font-weight:$bold;
			}
		}
	}
}