.flickeringStars {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	top: -5.5px;
	opacity: .6;
	div {
		position:absolute;
		width: 50%;
		height: 100%;
	}
	div:nth-child(1) {
		top: -200px; 
		left: 2px; 
		animation: fade 3s 5s infinite;
	}
	div:nth-child(2) {
		top: 24px; 
		right: -105px; 
		animation: fade 2s 2s infinite;
	}
	div:nth-child(3){
		top: 2px; 
		right: 3px; 
		animation: fade 10s 1s infinite;
		transform: rotate(180deg);
	}
	div:nth-child(4){
		top: 136px; 
		left: 376px; 
		animation: fade 6s 1s infinite;
		transform: rotate(-60deg);
	}
	div:nth-child(5) {
		top: 39px; 
		right: 71px; 
		animation: fade 5s 5s infinite;
	}
	div:nth-child(6) {
		top: 64px; 
		left: 165px; 
		animation: fade 9s 3s infinite;
	}

	@-webkit-keyframes fade {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}