.video-modal {
	display:none;
	z-index:1000;
	@include size(100%);
	@include position(fixed, 50% null null 50%);
	@include transform(translateY(-50%) translateX(-50%));
	.modal-inner{
		@include position(absolute, 50% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
	}
	iframe{
		width:80vw;
		height:80vh;
		@include media($mobile){
			width:300px;
			height:215px;
		}
	}
}

.gallery--modal {
	display:none;
	z-index:1000;
	@include size(100%);
	@include position(fixed, 50% null null 50%);
	@include transform(translateY(-50%) translateX(-50%));

	.escape {z-index: 1000;}

	.modal-inner {
		width: 80%;
		margin: 0 auto;
		position:relative;
		top: 50%;
		transform: translateY(-50%);

		.gallery {
			display: flex;
			justify-items: center;
			align-items: flex-start;
			flex-direction: row;
			flex-wrap: wrap;

			.gallery-item {
				width: 33%;
				margin: 10px 0;
				text-align:center;
			}
		}

		img {
			position: relative;
			display: block;
			margin: 0 auto;
		}

	}

	.prev,
	.next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 3rem;
		font-weight: bold;
		color: #fff;
		background: transparent;
		border: none;
		cursor: pointer;

		&:hover {
			color: $color-brand;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}
	.prev {left: 20px;}
	.next {right: 20px}

}

.team-modal{
	display:none;
	z-index:10;
	@include size(100%);
	@include position(fixed, 0 null null 50%);
	@include transform(translateX(-50%));
	.escape{
		position:absolute;
		right:25px;
		top:25px;
		cursor:pointer;
		z-index:10;
		@include size(25px);
		@include media($tablet){
			right:25px;
			top:25px;
		}
		&:before, &:after{
			content:'';
			display:block;
			position:absolute;
			background:$color-white;
			height:3px;
			width:100%;
			top:50%;
			transform:translateY(-50%);
		}
		&:before{
			transform:rotate(45deg);
		}
		&:after{
			transform:rotate(-45deg);
		}
	}
	.modal-overlay{
		background:rgba(0,0,0,.7);
		@include size(100%);
		@include position(absolute, 0 null null 0);
	}
	.modal-inner{
		background:#eaeaea;
		@include position(absolute, 50% null null 50%);
		@include transform(translateX(-50%) translateY(-50%));
		img{
			display: block;
			max-width:85vw;
			max-height:85vh;
		}
	}
}